body{
	margin: 0;
	padding: 0;
}
div{
	width:790PX;
	height:340px;	
	position: relative;
	
}
.img ul li{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
.img ul li.curr{
	display: block;
}
